
<section class="hero is-medium">
  <nav class="navbar-end box0" role="navigation" aria-label="main navigation">
      <div class="navbar box0">
    
          <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
              <span></span>
              <span></span>
              <span></span>
          </div>
      </div>
    
      <div  class="navbar-menu box0">
          <div class="navbar-end box0">
    
              <a class="navbar-item" routerLink="/">Home</a>
                  
                  <a class="navbar-item" href="../../assets/resume.pdf"title="Bridget Liu's Resume">Resume </a>
                  <a class="navbar-item" routerLink="/research">Research</a>
                  <a class="navbar-item" routerLink="/projects">Projects</a>
                  <hr class="navbar-divider">
          </div>
    
      </div>
    </nav>