<!-- <div class="navbar is-transparent">

    <div class="navbar-brand">
      <a class="navbar-item">
        <img src="assets/img/corgi.jpg">
      </a>
    </div>

    <div class="navbar-menu">
      <div class="navbar-end">
        <a class="navbar-item" routerLink="/">Home</a>
        <a class="navbar-item" routerLink="/contact">Contact</a>
        <a class="navbar-item" routerLink="/projects">Projects</a>
      </div>
    </div>
    
</div> -->

<nav class="navbar-end box0" role="navigation" aria-label="main navigation">
  <div class="navbar box0">

      <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
          <span></span>
          <span></span>
          <span></span>
      </div>
  </div>

  <div  class="navbar-menu box0">
      <div class="navbar-end box0">

          <a class="navbar-item" routerLink="/">Home</a>
              <a class="navbar-item" routerLink="/contact">Contact</a>
              <a class="navbar-item" routerLink="/projects">Projects</a>
        
              <!-- <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                  More
                </a>
        
                <div class="navbar-dropdown">
                  <a class="navbar-item">About</a>
                  <a class="navbar-item"></a>
                  <hr class="navbar-divider">
                  <a class="navbar-item">Report an issue</a>
                </div>
              </div> -->
      </div>

  </div>
</nav>
