
$color0 :#F7FFDD;
$color1 :#FCFDAF;
$color2 :#EFD780;
$color3 :#DBA159;
$color4 :#D0E3CC;
.hero{
    // background-image: url('../../assets/img/bg3.jpg') !important;
    background-color: $color0 !important;
    background-size: cover;
    background-position: center center;
}

.box0 {
  background-color: $color0;
  color: #D0E3CC;
  opacity: 1;
}

.box1 {
  background-color: $color1;
  color: #D0E3CC;
  opacity: 1;
}

.box2 {
  background-color: $color2;
  color: #D0E3CC;
  opacity: 1;
}

.box3 {
  background-color: $color3;
  color: #D0E3CC;
  opacity: 1;
}
.box4 {
  background-color: $color4;
  color: #D0E3CC;
  opacity: 1;
}