

<div [@openClose]="isOpen ? 'open' : 'closed'"
  (@openClose.start)="onAnimationEvent($event)"
  (@openClose.done)="onAnimationEvent($event)"
  class="hero is-primary is-primary">
    <div class="hero-body">
      <div class="container has-text-centered">
        <button class="button is-ghost" type="button" (click)="toggle()">
          The box is now {{ isOpen ? 'Open' : 'Closed' }}
        </button>
      </div>
  </div>
    <!-- <button class="button is-ghost" type="button" (click)="toggle()">
      The box is now {{ isOpen ? 'Open' : 'Closed' }}
    </button> -->
  
</div>


<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->