<!-- Portfolio -->
  <section class="hero is-medium box1 ">
    <!-- <section class = "box"> -->
      <nav class="navbar-end box0" role="navigation" aria-label="main navigation">
        <div class="navbar box0 ">
            <div class="navbar-burger burger" onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div  class="navbar-menu ">
            <div class="navbar-end ">
                <a class="navbar-item has-text-white" routerLink="/">Home</a>
                    
                    <a class="navbar-item has-text-white" href="../../assets/resume.pdf"title="Bridget Liu's Resume">Resume </a>
                    <a class="navbar-item has-text-white" routerLink="/research">Research</a>
                    <a class="navbar-item has-text-white" routerLink="/projects">Projects</a>
              </div> 
        </div>
      </nav>

      
      <div class="hero-body">
        <div class="container has-text-centered">
          <h3 class="title is-2 has-text-white">Projects</h3>
        </div>
      </div>

      <section class="blog-posts">
        <div class="container">
          <div class="columns">
            
              <div class="column is-10 is-offset-1">
                <div class="columns featured-post is-multiline">
                  <div class="column is-12 post">
                    <article class="columns featured">
                      <div class="column is-7 post-img ">
                        <video controls>
                          <source src="../../assets/videos/lcp1.mp4" type="video/mp4">
                        </video>
                      </div>
                      <div class="column is-5 featured-content va">
                        <div>
                          <h3 class="heading post-category">JAVA</h3>
                          <h1 class="title post-title has-text-white">Rigid Body Animation</h1>
                          <p class="post-excerpt">                          
                            An optimization for collision and contact solvers to prevent rigid bodies from interpolating each other, 
                            stablize the system as well as saving computational time. 
                            <br>
                            In the video letters are treated as a rigid bodies with weights.
                            At the begining, they are dropping to the ground. 
                            Then, every time a contact is detected we switch the color of related objects.
                          </p><br>
                          <a href="#" class="button is-info">Read More</a>
                        </div>
                      </div>
                    </article>
                  </div>
                </div>

              <hr>
              <div class="columns is-multiline">
                <div class="column post is-6">
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <video height = 200 width = 400 controls>
                        <source src="../../assets/videos/mujoco.mp4" type="video/mp4">
                      </video>
                    </div>
                    <div class="column is-12 featured-content ">
                      <h3 class="heading post-category">Python</h3>
                      <h1 class="title post-title has-text-white">Mujoco Agent Training </h1>
                      <p class="post-excerpt">Trained several reinforcement learning algorithms for a continous task.
                      <br>
                      An actor-critic algorithm called TD3 outperforms the rest, in the video is shows the evaluation result for this agent. 
                      </p>>
                        <br>
                      <a href="#" class="button is-info">Read More</a>
                    </div>
                  </article>
                </div>
                <div class="column post is-6">
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                    </div>
                    <div class="column is-12 featured-content ">
                      <h3 class="heading post-category">Category Name</h3>
                      <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                      <p class="post-excerpt">

                        An optimization for collision and contact solvers.
                        <!-- An optimization for collision and contact solvers to prevent rigid bodies from interpolating each other, 
                        stablize the system as well as saving computation time. -->
        
                        <br>
                        In the above video letters are treated as a rigid body with weight, dropping to the ground. <br>
                        Every time a contact is detected we switch the color of related objects.

                        
                        
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.
                      
                      </p>
                      <br>
                      <a href="#" class="button is-primary">Read More</a>
                    </div>
                  </article>
                </div>
                <div class="column post is-4">
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                    </div>
                    <div class="column is-12 featured-content ">
                      <h3 class="heading post-category">Category Name</h3>
                      <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                      <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                      <br>
                      <a href="#" class="button is-primary">Read More</a>
                    </div>
                  </article>
                </div>
                <div class="column post is-4">
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                    </div>
                    <div class="column is-12 featured-content ">
                      <h3 class="heading post-category">Category Name</h3>
                      <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                      <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                      <br>
                      <a href="#" class="button is-primary">Read More</a>
                    </div>
                  </article>
                </div>
                <div class="column post is-4">
                  <article class="columns is-multiline">
                    <div class="column is-12 post-img">
                      <img src="https://cdn.emk.dev/templates/post-img.png" alt="Featured Image">
                    </div>
                    <div class="column is-12 featured-content ">
                      <h3 class="heading post-category">Category Name</h3>
                      <h1 class="title post-title">Slightly Longer Blog Post Title</h1>
                      <p class="post-excerpt">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus ratione harum eaque, animi nulla tempore quis, quam voluptatum.</p>
                      <br>
                      <a href="#" class="button is-primary">Read More</a>
                    </div>
                  </article>
                </div>
              </div>
            </div>
          </div>
        </div>

      </section>
  </section>
<!-- </section> -->




    













<script>
  document.querySelector('video').playbackRate = 3;
</script>
<!-- 

<app-open-close></app-open-close>
<app-open-close></app-open-close>
<app-open-close></app-open-close>
<app-open-close></app-open-close> -->
