<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



























<section class="hero is-bold is-fullheight">
    <!-- intro part -->
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title" style="text-align:left">
                <span typingAnimation [typeSpeed]="50" [condition]="start" [startDelay]="1000"
                    (complete)="onTypingAnimationComplete()" [hideCursorOnComplete]="true">
                    Hii, it's Bridget.
                </span>
            </h1>
            <h1 class="title" style="text-align:left">
                <span typingAnimation [typeSpeed]="50" [condition]="start2" [startDelay]="1000"
                    (complete)="onTypingAnimationComplete2()" [hideCursorOnComplete]="true">
                    I'm a second year master student at McGill University.
                </span>
            </h1>
            <h1 class="title" style="text-align:left">
                <span typingAnimation [typeSpeed]="50" [condition]="start3" [startDelay]="1000"
                    (complete)="onTypingAnimationComplete3()">
                    Bare with me as this website is still under construction 🐣.
                </span>
            </h1>
        </div>
    </div>

    <div class="section box1 is-medium has-text-centered">
        <div class="container has-text-centered">
            <p>hi</p>

        </div>
    </div>

    <!-- Hero footer: will stick at the bottom -->
    <div class="hero-foot box2">
        <nav class="tabs">
            <div class="container is-primary">

                <section class="section ">

                    <div class="social-buttons">

                        <a href="https://github.com/bridget72"
                            class="social-buttons__button social-button social-button--github" aria-label="Github">
                            <i class="fa fa-github"></i>
                        </a>
                        <div class="horizontalgap" style="width:10px"></div>
                        <a href="https://www.linkedin.com/in/bridget72/"
                            class="social-buttons__button social-button social-button--linkedin" aria-label="Linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <div class="horizontalgap" style="width:10px"></div>
                        <a href="https://www.facebook.com/bridget.liu.72"
                            class="social-buttons__button social-button social-button--facebook" aria-label="Facebook">
                            <i class="fa fa-facebook"></i>
                        </a>


                    </div>

                </section>


            </div>
        </nav>


    </div>

</section>